#book-list .book-list {
  margin: 20px 0;
}
#book-list .book-list .book-list-item {
  background: #ffffff;
  border-radius: 2px;
  color: #303030;
  display: grid;
  font-size: 13px;
  grid-template-columns: 4fr 1fr;
  margin-bottom: 6px;
  padding: 10px;
  text-decoration: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all .2s;
}
#book-list .book-list .book-list-item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
#book-list .book-list .book-list-item:active {
  background: #f6f6f6;
}
#book-list .book-list .book-list-item span {
  margin: 0 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#book-list .book-list .book-list-item span:nth-child(1) {
  order: 1;
}
#book-list .book-list .book-list-item span:nth-child(2) {
  order: 3;
  color: #888888;
}
#book-list .book-list .book-list-item span:nth-child(3) {
  order: 2;
  text-align: right;
}
#book-list .book-list .book-list-item span:nth-child(4) {
  order: 4;
  text-align: right;
  color: #888888;
}
@media screen and (min-width: 375px) {
  #book-list .book-list .book-list-item {
    font-size: 15px;
  }
}
@media screen and (min-width: 1280px) {
  #book-list .book-list .book-list-item {
    font-size: 17px;
    grid-template-columns: 4fr 4fr 2fr 1fr;
  }
  #book-list .book-list .book-list-item span:nth-child(1) {
    order: 1;
  }
  #book-list .book-list .book-list-item span:nth-child(2) {
    order: 2;
    color: inherit;
  }
  #book-list .book-list .book-list-item span:nth-child(3) {
    order: 3;
    text-align: left;
  }
  #book-list .book-list .book-list-item span:nth-child(4) {
    order: 4;
    color: inherit;
  }
}
#book-list .book-list .book-list-item.placeholder {
  border: 2px dashed #e6e6e6;
  display: block;
  text-align: center;
}
#book-list .book-list .book-list-item.placeholder span {
  background: url('/images/ic_add_circle_purple.png') left center no-repeat;
  background-size: contain;
  color: #9c27b0;
  padding: 3px 0 3px 30px;
}
@media screen and (min-width: 1280px) {
  #book-list .book-list .book-list-item.placeholder span {
    padding-left: 35px;
  }
}
#book-list .pagination {
  padding: 0;
  list-style: none;
  margin-top: 50px;
  text-align: center;
}
#book-list .pagination li {
  display: inline-block;
}
#book-list .pagination li a {
  transition: box-shadow 300ms;
  padding: 10px 15px;
  outline: none;
}
#book-list .pagination li:not(.disabled):not(.break).selected a,
#book-list .pagination li:not(.disabled):not(.break):hover a {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
#book-list .pagination li:not(.disabled):not(.break) a {
  cursor: pointer;
  background-color: #ffffff;
}
#book-list .pagination li.disabled,
#book-list .pagination li.break {
  pointer-events: none;
}
#book-list .pagination li + li {
  margin-left: 15px;
}
