@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
#toast {
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fbfbfb;
  cursor: default;
  position: fixed;
  transform: translateX(-50%);
  bottom: 40px;
  left: 50%;
  border-radius: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  max-width: 280px;
  padding: 12px 12px;
  width: fit-content;
  opacity: 0;
}
#toast.fadeIn {
  animation: fadeIn .2s linear forwards;
}
#toast.fadeOut {
  animation: fadeOut .2s linear forwards;
}
#toast p {
  margin: 0;
}
@media screen and (min-width: 375px) {
  #toast {
    font-size: 13px;
    max-width: 320px;
    padding: 12px 20px;
  }
}
@media screen and (min-width: 1280px) {
  #toast {
    font-size: 14px;
    max-width: 600px;
    padding: 12px 30px;
  }
}
