#signin {
  background-color: #fbfbfb;
  border-radius: 3px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
#signin header h2 {
  text-align: center;
}
#signin .providers {
  margin: 20px 0 0 0;
  text-align: center;
}
#signin .providers button {
  display: block;
  margin-bottom: 20px;
  width: 200px;
}
#signin .providers .facebook-button {
  background: #4267b2;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 0;
  padding: 12px;
  padding-left: 25px;
  text-align: center;
}
#signin .providers .facebook-button i {
  font-size: 20px;
  margin-left: -25px;
  margin-top: -1px;
  position: absolute;
}
#signin form {
  display: grid;
  grid-gap: 15px;
  margin: 20px 0 0 0;
}
#signin form :nth-child(3) {
  text-align: right;
}
#signin form :nth-child(4) {
  text-align: center;
}
#signin form input {
  background-color: #fbfbfb;
}
#signin form button {
  margin-top: 10px;
}
#signin form a {
  color: #9c27b0;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
}
@media screen and (min-width: 375px) {
  #signin {
    max-width: 450px;
    padding: 40px;
  }
  #signin form {
    grid-template-columns: 1fr 1fr;
  }
  #signin form :nth-child(1),
  #signin form :nth-child(2) {
    grid-column: span 2;
  }
  #signin form :nth-child(3) {
    order: 4;
  }
  #signin form :nth-child(4) {
    text-align: left;
  }
  #signin form button {
    max-width: 150px;
  }
  #signin form a {
    display: inline-block;
    font-size: 16px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  #signin {
    margin-top: 40px;
    /* max-width: 650px; */
    padding: 40px;
  }
  #signin form {
    grid-gap: 25px;
  }
  #signin form button {
    max-width: 180px;
  }
  #signin form a {
    font-size: 17px;
  }
}
