main {
  > header {
    background-color: #232838;

    h1 {
      display: inline-block;
      font-size: 22px;
      margin: 0;
      padding: 20px;

      a {
        color: #f6f6f6;
        text-decoration: none;
      }
    }
  }

  > section.content {
    padding: 20px;

    h2 {
      font-size: 20px;
      margin: 0;
    }
  }
}
