main > header {
  background-color: #fbfbfb;
  border-bottom: 1px solid #e6e6e6;
}
main > header h1 {
  display: inline-block;
  font-size: 22px;
  margin: 0;
  padding: 20px;
}
main > header h1 a {
  color: #6a0080;
  text-decoration: none;
}
main > section.content {
  padding: 20px;
}
main > section.content h2 {
  font-size: 20px;
  margin: 0;
}
