@import "./../../_default.less";

main {
  > header {
    background-color: @color-background-light;
    box-shadow: 0px 2px 6px rgba(0,0,0,.1);

    h1 {
      background: url('/images/owl_grey.png') 20px center no-repeat;
      background-size: 30px;
      display: inline-block;
      font-size: 20px;
      margin: 0;
      padding: 20px;
      padding-left: 60px;

      a {
        color: @color-primary-dark;
        text-decoration: none;
      }

      @media screen and (min-width: @phone-width) {
        background-size: 35px;
        font-size: 22px;
        padding-left: 65px;
      }
    }
  }

  > section.content {
    padding: 20px;

    h2 {
      font-size: 18px;
      margin: 0;

      @media screen and (min-width: @phone-width) {
        font-size: 20px;
      }
    }
  }
}
