#quiz-answer > header {
  position: relative;
}
#quiz-answer > header h2,
#quiz-answer > header h3 {
  margin: 0;
}
#quiz-answer > header h3 {
  font-weight: normal;
  font-size: 14px;
}
#quiz-answer > header .next-question {
  background-color: #9c27b0;
  border-radius: 30px;
  color: #fbfbfb;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 20px;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  right: 0;
  text-decoration: none;
  transition: all .2s;
}
#quiz-answer > header .next-question:hover {
  background-color: #6a0080;
}
#quiz-answer > .content > .question {
  border-radius: 50px;
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  margin: 20px 0;
}
#quiz-answer > .content > .question span {
  padding: 10px 20px;
}
#quiz-answer > .content > .question span.order {
  background-color: #c6ff00;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  font-weight: bold;
}
#quiz-answer > .content > .question span.description {
  background-color: #fbfbfb;
  border: 1px solid #e6e6e6;
}
#quiz-answer > .content > .question span.answers {
  background-color: #e6e6e6;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}
#quiz-answer > .content > .answer form {
  display: grid;
  grid-template-columns: 1fr 200px;
  margin: 20px 0;
}
#quiz-answer > .content > .answer form input {
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  outline: none;
}
#quiz-answer > .content > .answer form input[type='text'] {
  background-color: #fbfbfb;
  border: 1px solid #e6e6e6;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #303030;
  font-weight: bold;
}
#quiz-answer > .content > .answer form input[type='submit'] {
  background-color: #e6e6e6;
  background-color: #c6ff00;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all .2s;
}
#quiz-answer > .content > .answer form input[type='submit']:hover {
  background-color: #90cc00;
}
#quiz-answer > .content > .last-answers ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}
#quiz-answer > .content > .last-answers ul li {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  margin-bottom: 10px;
}
#quiz-answer > .content > .last-answers ul li .picture img {
  border-radius: 25px;
  height: 50px;
  width: 50px;
}
#quiz-answer > .content > .last-answers ul li .description {
  margin: 8px 10px 3px 10px;
}
#quiz-answer > .content > .last-answers ul li .time {
  font-size: 11px;
  margin: 0 10px;
}
#quiz-answer > .content > .last-answers ul li .action {
  text-align: center;
}
#quiz-answer > .content > .last-answers ul li .action .likes {
  font-size: 13px;
  margin: 0px;
  text-align: center;
}
