@import "./../../_default.less";

#home {
  .list {
    margin: 20px 0;

    .item {
      background: @color-background-light;
      border-radius: 2px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
      display: grid;
      font-size: 14px;
      grid-template-columns: 4fr 1fr;
      margin-bottom: 6px;
      padding: 10px;

      span {
        margin: 0 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:nth-child(1) { order: 1; }
        &:nth-child(2) { order: 3; }
        &:nth-child(3) { order: 2; text-align: right; }
        &:nth-child(4) { order: 4; text-align: right; }
      }

      .right {
        margin-left: 5px;
        text-align: right;
      }

      @media screen and (min-width: @phone-width) {
        font-size: 16px;
      }

      @media screen and (min-width: @desktop-width) {
        font-size: 18px;
        grid-template-columns: 4fr 4fr 2fr 1fr;

        span {
          &:nth-child(1) { order: 1; }
          &:nth-child(2) { order: 2; }
          &:nth-child(3) { order: 3; text-align: left; }
          &:nth-child(4) { order: 4; }
        }
      }
    }
  }
}
