#home > .perque-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
#home > .perque-list li {
  background-color: #c6ff00;
  color: #303030;
  display: inline-block;
  position: relative;
  height: 150px;
  text-align: center;
}
#home > .perque-list li h3 {
  color: #303030;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.home-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
}
.home-menu ul li {
  margin: 15px 0;
}
.home-menu ul li a {
  background: #eee;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #333;
  display: block;
  padding: 12px 20px;
  text-decoration: none;
}
.home-menu ul li a:hover {
  background: #e5e5e5;
}
.home-menu ul li a:active {
  background: #ddd;
}
.home-menu ul li a svg {
  float: left;
  margin-top: -3px;
  margin-right: 20px;
}
