body {
  background-color: #f6f6f6;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
input,
textarea,
select,
button {
  color: #303030;
  font-family: 'Signika Negative', sans-serif;
}
* {
  box-sizing: border-box;
}
